doctype html
html(lang='ar')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title Health Bank | Student
    // Bootstrap
    // Bootstrap
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    // <link rel="stylesheet" href="css/bootstrap-rtl.min.css" />
    link(rel='stylesheet', href='/inc/nav/css/bootstrap-dropdownhover.min.css')
    // animation css
    link(rel='stylesheet', href='/css/animate.min.css')
    link(rel='stylesheet', href='/inc/tab/css/zozo.examples.min.css')
    link(rel='stylesheet', href='/inc/tab/css/zozo.tabs.flat.min.css')
    link(rel='stylesheet', href='/inc/tab/css/zozo.tabs.min.css')
    // owl-carsoul
    link(rel='stylesheet', href='/inc/carousel/owl.carousel.css')
    link(rel='stylesheet', href='/inc/carousel/owl.theme.css')
    link(rel='stylesheet', href='/inc/carousel/owl.transitions.css')
    // font-awsem
    link(rel='stylesheet', href='/inc/icons/css/font-awesome.min.css')
    // master slider
    link(rel='stylesheet', href='/inc/fj/font.css')
    link(rel='stylesheet', href='/js/masterslider/style/masterslider.css')
    link(rel='stylesheet', href='/js/masterslider/skins/default/style.css')
    link(rel='stylesheet', href='/inc/hancen/stylesheet.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/small.css')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    .heder
      .container
        .row
          .col-md-3
            .logo-d
              a(href='/')
                img(src='/img/logo.png', alt='logo')
          .col-md-9
            .links-nv
              ul.list-unstyaled.list-inline
                li
                  img(src='/img/user.png', alt='')
                li
                  p welcome #{userName} 
                li your last visit was in #{currentDate}
                li
                  a(href='/users/logout')
                    i.fa.fa-sign-out
                    |  sign out
    section.search-box
      .container
        .roew
          ul.nav.nav-tabs
            li.active
              a(data-toggle='tab', href='#midical') Blood Bank Info
            li
              a(data-toggle='tab', href='#blood') Medical Record
          .tab-content
            #midical.tab-pane.fade.in.active
              h3  Blood Bank Info
              table.table
                thead
                  tr
                    th  Amount
                    th  Donation Date
                    th  Id
                    th  blood type
                tbody
                  if user.savedData
                    each record,i in user.savedData
                      tr
                        td #{record.amount}
                        td #{record.date}
                        td #{user.Id}
                        td #{user.blood}
            #blood.tab-pane.fade
              h3 Medical Record 
              table(class="table table-stripped")
                thead
                  th name
                  th address
                  th phone
                  th faculty
                  th age
                  th pressure
                  th BloodType
                  th Weight
                  th height 
                  th reye
                  th leye 
                  th diabetes 
                  th Hemoglobin
                  th WBC
                  th IPD
                  th MCV

                tbody
                  if user
                    
                      tr
                       td #{user.name}
                        td #{user.address}
                        td #{user.phone}
                        td #{user.faculty}
                        td #{user.age}
                        td #{user.pressure}
                        td #{user.blood}
                        td #{user.width}
                        td #{user.height}
                        td #{user.reye}
                        td #{user.leye}
                        td #{user.diabetes}
                        td #{user.Hemoglobin}
                        td #{user.WBC}
                        td #{user.IPD}
                        td #{user.MVC}
            br
            center
              button.btn.btn-primary(style='height:35px;width:200px', type='submit' ,onclick="window.print()") Print
    footer
      .container.text-center
        p All Rights Reserved To Health Bank Project 2019 ©
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='/js/jquery-1.12.2.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/js/bootstrap.min.js')
    script(src='/js/parallax.min.js')
    script(src='/js/wow.min.js')
    script(src='/inc/nav/js/bootstrap-dropdownhover.min.js')
    script(src='/inc/tab/js/zozo.tabs.min.js')
    script(src='/inc/carousel/owl.carousel.min.js')
    // master slider
    script(src='/js/masterslider/masterslider.min.js')
    script(src='/js/masterslider/jquery.easing.min.js')
    script(src='/js/custom.js')
